
#fMuseumText, #fParkText, #fPlazaText, #fSculptureGardenText, #fSpirtualCenterText, #fTheaterText, #fFountainText,
#fGardenText, #fPalaceText, #fCastleText, #gMuseumText, #gParkText, #gChurchText {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    padding: 5px 5px 5px 10px;
    border: 0;
    top: 10px;
    border-radius: 10px;
    right: 12px;
    text-align: center;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #5f5f5f inset;
    -moz-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -webkit-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -webkit-background-clip: padding-box;
    background: -webkit-linear-gradient(top, #00bf00 0%, #00bf00 100%);
    outline: 0;
}

#fMuseum, #fPark, #fPlaza, #fSculptureGarden, #fSpirtualCenter, #fTheater, #fFountain, #fGarden, #fPalace, #fCastle,
#gMuseum, #gPark, #gChurch {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    right: 28px;
    margin-top: 40px;
}

/* Park */
#fParkText {
    top: 65px;
}

#fPark {
    margin-top: 95px;
}

#gParkText {
    top: 65px;
}

#gPark {
    margin-top: 95px;
}

/* Plaza */
#fPlazaText {
    top: 120px;
}

#fPlaza {
    margin-top: 150px;
}

/* Church */
#gChurchText {
    top: 120px;
}

#gChurch {
    margin-top: 150px;
}

/* Sculpture fGarden */
#fSculptureGardenText {
    top: 175px;
}

#fSculptureGarden {
    margin-top: 205px;
}

/* Spirtual center */
#fSpirtualCenterText {
    top: 230px;
}

#fSpirtualCenter {
    margin-top: 260px;
}

/* Theater */
#fTheaterText {
    top: 285px;
}

#fTheater {
    margin-top: 315px;
}

/* Fountain */
#fFountainText {
    top: 340px;
}

#fFountain {
    margin-top: 370px;
}

/* Garden */
#fGardenText {
    top: 395px;
}

#fGarden {
    margin-top: 425px;
}

/* Palace */
#fPalaceText {
    top: 450px;
}

#fPalace {
    margin-top: 480px;
}

/* Castle */
#fCastleText {
    top: 505px;
}

#fCastle {
    margin-top: 535px;
}
