
#museumText, #parkText, #plazaText, #sculptureGardenText, #spirtualCenterText, #theaterText, #fountainText, #gardenText, #palaceText, #castleText {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    padding: 5px 5px 5px 10px;
    border: 0;
    top: 10px;
    border-radius: 10px;
    right: 12px;
    text-align: center;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #5f5f5f inset;
    -moz-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -webkit-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -webkit-background-clip: padding-box;
    outline: 0;
}

#museum, #park, #plaza, #sculptureGarden, #spirtualCenter, #theater, #fountain, #garden, #palace, #castle {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    right: 28px;
    margin-top: 40px;
}

/* Park */
#parkText {
    top: 65px;
}

#park {
    margin-top: 95px;
}

/* Plaza */
#plazaText {
    top: 120px;
}

#plaza {
    margin-top: 150px;
}

/* Sculpture garden */
#sculptureGardenText {
    top: 175px;
}

#sculptureGarden {
    margin-top: 205px;
}

/* Spirtual center */
#spirtualCenterText {
    top: 230px;
}

#spirtualCenter {
    margin-top: 260px;
}

/* Theater */
#theaterText {
    top: 285px;
}

#theater {
    margin-top: 315px;
}

/* Fountain */
#fountainText {
    top: 340px;
}

#fountain {
    margin-top: 370px;
}

/* Garden */
#gardenText {
    top: 395px;
}

#garden {
    margin-top: 425px;
}

/* Palace */
#palaceText {
    top: 450px;
}

#palace {
    margin-top: 480px;
}

/* Castle */
#castleText {
    top: 505px;
}

#castle {
    margin-top: 535px;
}
