#fNightLifeSpotText, #fBowlingAlleyText, #fMovieTheaterText, #fPoolHallText, #gBowlingAlleyText, #gMovieTheaterText, #gNightClubText {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    padding: 5px 5px 5px 10px;
    border: 0;
    top: 10px;
    border-radius: 10px;
    right: 12px;
    text-align: center;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-size: 90%;
    color: rgba(0, 0, 0, 0.94);

    box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #5f5f5f inset;
    -moz-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -webkit-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -webkit-background-clip: padding-box;
    background: -webkit-linear-gradient(top, #00bf00 0%, #00bf00 100%);
    outline: 0;
}

#fNightLifeSpot, #fBowlingAlley, #fMovieTheater, #fPoolHall, #gBowlingAlley, #gMovieTheater, #gNightClub {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    right: 28px;
    margin-top: 40px;
}

/* fBowlingAlley */
#fBowlingAlleyText {
    top: 65px;
}

#fBowlingAlley {
    margin-top: 95px;
}

#gMovieTheaterText {
    top: 65px;
}

#gMovieTheater {
    margin-top: 95px;
}

/* fMovieTheaterText */
#fMovieTheaterText {
    top: 120px;
}

#fMovieTheater {
    margin-top: 150px;
}

#gNightClubText {
    top: 120px;
}

#gNightClub {
    margin-top: 150px;
}

/* fPoolHall */
#fPoolHallText {
    top: 175px;
}

#fPoolHall {
    margin-top: 205px;
}